*{
    box-sizing: border-box;
}
body{
    background-image: url('images/5.png');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* display: flex;
    justify-content: center; */
}

.formbox{
  width: 474px;
  height: 474px;
}
.input_group{
    margin: -9% 10% 12% 10%;
    border: 1px solid #888;
    width: 80%;
  

}

.avatar{
    width: 100px;
    height: 100px;
    
}
input [type=text], input [type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    

}

button{
    background-color: #3f069b;
    color: white;
    padding: 8px 20px;
    margin: 30px 30px;
    border: none;
    cursor: pointer;
    
}
button:hover{
    background-color: red;
}

.login_img{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
 .container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
 }
 .container2{
     padding: 30px;

 }

 .container h2{
     text-align: center;
 }
 .closebtn{
    position: absolute;
    right: 25px;
    top: 0;
 }